# Dependencies
node_modules/

# Data
*.db
data/

# Expo
mobile/.expo/
mobile/dist/
mobile/android/
mobile/ios/

# Environment
.env

# Firebase
*-firebase-adminsdk-*.json
google-services.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
